<div class="card">
  <div class="card-container">
    <div class="card-image">
      <img src="{{image}}" alt="Image from {{author}}">
    </div>
    <div class="card-desc">
      <p class="card-caption">
        {{caption}}
      </p>
      <p class="card-author">
        <strong>{{author}}</strong>
      </p>
    </div>
  </div>
</div>
